@import url('./__title/editForm__title.css');
@import url('./__input/editForm__input.css');
@import url('./__button/editForm__button.css');
@import url('./__button/editForm__button_status_disabled.css');
@import url('./__close-icon/editForm__close-icon.css');
@import url('./editForm_opened.css');

.editForm {
    visibility: hidden;
    position: fixed;
    flex-direction: column;
    background-color: #fff;
    border-radius: 10px;
}

@media screen and (max-width: 320px){
.editForm {
    top: 10%;
    left: 50%;
    margin: 0 0 0 -141px;
    width: 282px;
    min-height: 322px;
}

.editForm__close-icon {
    top: -35px;
    right: 0;
    width: 20px;
    height: 20px;
}

.editForm__button {
    font-size: 14px;
    line-height: 17px;
    margin: 31px 0 0;
    width: auto;
    height: 46px;
}

.editForm__title {
    font-size: 18px;
    line-height: 22px;
    margin: 0 0 54px;
}

.editForm__container {
    margin: 25px 22px;
}
}

@media screen and (min-width: 321px) and (max-width: 768px){
.editForm {
    top: 20%;
    left: 50%;
    margin: 0 0 0 -141px;
    width: 282px;
    min-height: 322px;
}

.editForm__close-icon {
    top: -35px;
    right: 0;
    width: 20px;
    height: 20px;
}

.editForm__button {
    font-size: 14px;
    line-height: 17px;
    margin: 31px 0 0;
    width: auto;
    height: 46px;
}

.editForm__title {
    font-size: 18px;
    line-height: 22px;
    margin: 0 0 54px;
}

.editForm__container {
    margin: 25px 22px;
}
} 

@media screen and (min-width: 769px){
.editForm {
    top: 20%;
    left: 50%;
    margin: 0 0 0 -215px;
    width: 430px;
    min-height: 330px;
}

.editForm__close-icon {
    top: -40px;
    right: -40px;
    width: 32px;
    height: 32px;
}

.editForm__button {
    font-size: 18px;
    line-height: 22px;
    margin-top: 31px;
    height: 50px;
}

.editForm__title {
    font-size: 24px;
    line-height: 29px;
    margin: 0 0 54px;
}

.editForm__container {
    margin: 34px 36px 37px;
}
} 
