@import url('./__title/addForm__title.css');
@import url('./__field/addForm__input.css');
@import url('./__field/addForm__input_type_error.css');
@import url('./__button/addForm__button.css');
@import url('./__button/addForm__button_status_active.css');
@import url('./__button/addForm__button_status_disabled.css');
@import url('./__close-icon/addForm__close-icon.css');
@import url('./addForm_opened.css');

.addForm {
    visibility: hidden;
    position:fixed;
    flex-direction: column;
    background-color: #fff;
    border-radius: 10px;
    z-index: 2;
    opacity: 1;
}

.addForm_opened:before {
    content: '';
	background: #000;
	position: fixed; 
	left: 0;
	top: 0;
	width: 100%; 
	height: 100%;
	opacity: 0.7;
	z-index: 1;
}

@media screen and (max-width: 320px){
.addForm {
    top: 10%;
    left: 50%;
    margin: 0 0 0 -141px;
    width: 282px;
    min-height: 322px;
}

.addForm__close-icon {
    top: -35px;
    right: 0;
    width: 20px;
    height: 20px;
}

.addForm__button {
    font-size: 14px;
    line-height: 17px;
    margin: 31px 0 0;
    width: auto;
    height: 46px;
}

.addForm__title {
    font-size: 18px;
    line-height: 22px;
}

.addForm__container {
    margin: 25px 22px;
}

.addForm__input {
    margin-top: 54px;
    margin-bottom: 5px;
}

.addForm__input:nth-last-child(3) {
    margin-top: 13px;
}
}

@media screen and (min-width: 321px) and (max-width: 768px){
.addForm {
    top: 20%;
    left: 50%;
    margin: 0 0 0 -141px;
    width: 282px;
    min-height: 322px;
}

.addForm__close-icon {
    top: -35px;
    right: 0;
    width: 20px;
    height: 20px;
}

.addForm__button {
    font-size: 14px;
    line-height: 17px;
    margin: 31px 0 0;
    width: auto;
    height: 46px;
}

.addForm__title {
    font-size: 18px;
    line-height: 22px;
}

.addForm__container {
    margin: 25px 22px;
}

.addForm__input {
    margin-top: 54px;
    margin-bottom: 5px;
}

.addForm__input:nth-last-child(3) {
    margin-top: 13px;
}
} 

@media screen and (min-width: 769px){
.addForm {
    top: 20%;
    left: 50%;
    margin: 0 0 0 -215px;
    width: 430px;
    min-height: 330px;
}

.addForm__close-icon {
    top: -40px;
    right: -40px;
    width: 32px;
    height: 32px;
}

.addForm__button {
    font-size: 18px;
    line-height: 22px;
    margin-top: 31px;
    height: 50px;
}

.addForm__title {
    font-size: 24px;
    line-height: 29px;
}

.addForm__container {
    margin: 34px 36px 37px;
}

.addForm__input {
    margin-top: 54px;
    margin-bottom: 5px;
}

.addForm__input:nth-last-child(3) {
    margin-top: 13px;
}
} 
