.addForm__button {
    font-weight: normal;
    text-align: center;
    position: relative;
    background-color: var(--color-dark);
    color: var(--font-color-light);
    border: none;
}

.addForm__button:hover {
    background-color: var(--color-dark);
    opacity: 80%;
    cursor: pointer;
}
