@import url('./__title/profile-info__title.css');
@import url('./__subtitle/profile-info__subtitle.css');
@import url('./__edit-button/profile-info__edit-button.css');
@import url('./__main-info/profile-info__main-info.css');

.profile-info {
    display: flex;
    flex-direction: row;
    max-height: auto;
    align-self: center;
}

@media screen and (max-width: 320px){
    .profile-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 22px auto 36px;
    }

    .profile-info__main-info {
        flex-direction: row;
    }

    .profile-info__title {
        margin: auto;
        min-width: auto;
        font-size: 27px;
        line-height: 33px;
        text-align: center;
    }

    .profile-info__subtitle {
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        margin: auto;
        min-width: 100%;
    }

    .profile-info__edit-button {
        height: 18px;
        align-self: center;
        margin-left: 10px;
    }
}

@media screen and (min-width: 321px) and (max-width: 768px){
    .profile-info {
        flex-direction: column;
        justify-content: center;
        margin: 22px auto 36px;
    }

    .profile-info__title {
        margin: 0;
        font-size: 27px;
        line-height: 33px;
        text-align: center;
    }

    .profile-info__subtitle {
        margin: 16px auto 0;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        min-width: 100%;
    }

    .profile-info__edit-button {
        margin: 0 0 0 18px; 
        height: 18px;
        align-self: center;
    }
} 

@media screen and (min-width: 769px){
    .profile-info {
        margin: 0 0 0 30px;
        flex-direction: column;
    }

    .profile-info__main-info {
        flex-direction: row;
        width: min-content;
    }

    .profile-info__title {
        margin: 0;
        max-width: 400px;
        font-size: 27px;
        line-height: 33px;
    }

    .profile-info__subtitle {
        font-size: 18px;
        line-height: 22px;
    }

    .profile-info__edit-button {
        margin: 0 0 0 18px;
        height: 18px;
        align-self: center;
    }
} 

@media screen and (min-width: 893px) {
    .profile-info__title {
        font-size: 42px;
        line-height: 48px;
        width: max-content;
        /* max-width: min-content; */
    }

    .profile-info__main-info {
        width: max-content;
    }

    .profile-info__edit-button {
        height: 24px;
    }
} 
