@import url('./__text/footer__text.css');

.footer {
    padding: 0;
}

@media screen and (max-width: 320px){
    .footer {
        margin: auto;
        max-width: 282px;
    }

    .footer__text {
        margin: 48px 0 36px;
    }
}

@media screen and (min-width: 321px){
    .footer {
        margin: 0 0 0 27px;
        min-width: 282px;
    }

    .footer__text {
        margin: 67px 0 60px;
    }
}

@media screen and (min-width: 769px){
    .footer {
        margin: 0 0 0 27px;
        max-width: 282px;
    }

    .footer__text {
        margin: 67px 0 60px;
    }
} 

@media screen and (min-width: 895px) {
    .footer {
        margin: auto;
        max-width: 880px;
    }

    .footer__text {
        text-align: left;
        margin: 67px 0 60px;
    }
} 
