@import url('./__text/element__text.css');
@import url('./__like-status/element__like-status.css');
@import url('./__signature/element__signature.css');
@import url('./__trash-button/element__trash-button.css');

.element {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    max-width: 282px;
    height: 361px;
    border-radius: 10px;
    box-sizing: border-box;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 1);
}

.element:hover {
   cursor: pointer;
}
